header {
  background-color: white;
  display: flex;
  flex-direction: row;
  font-family: "Calibri Light";
  font-size: 20px;
}

.link {
  margin: 10px;
}

body {
  background-color: #000337;
  color: white;
}

